import '../clue.dart';
import '../variable.dart';

/// A Puzzle clue
class {{env['ABCD']}}Clue extends ExpressionClue {
  /// List of referenced primes
  List<String> get letterReferences => this.variableNameReferences;
  addLetterReference(String letter) => this.addVariableReference(letter);

  {{env['ABCD']}}Clue(
      {required String super.name,
      VariableType super.type = VariableType.C,
      required super.length,
      super.valueDesc,
      super.addDesc,
      super.solve,
      super.entryNames})
      : super(
            name: name,
            type: type,
            length: length,
            valueDesc: valueDesc,
            addDesc: addDesc,
            solve: solve,
            entryNames: entryNames);
}

class {{env['ABCD']}}Entry extends {{env['ABCD']}}Clue with EntryMixin {
  {{env['ABCD']}}Entry({
    required super.name,
    super.type = VariableType.E,
    required super.length,
    super.valueDesc,
    super.solve,
    super.entryNames,
  }) {
    initEntry(this);
  }
}
