# {{env['ABCD']}} Puzzle Solver

## Puzzle

{{env['title']}}

{{env['instructions']}}

```{{env['grid']}}
{% for line in env['clue_text'].rstrip().split('\n') %}
{{line}}{% endfor %}
```

## Solution

```
```

## Lessons Learned


